<% content_for(:html_title) { "Games" } %>


<h1>Games</h1>

<div class="container">

  </br>

  <div class="row">
    <div class="col-3">
      <h5>Name</h5>
    </div>
    <div class="col">
      <h5>Developer</h5>
    </div>
    <div class="col">
      <h5>Release Date</h5>
    </div>
    <div class="col">
      <h5>Rating</h5>
    </div>
  </div>

  <% @games.each do |game| %>
    <div class="row ml">
      <div class="col-3">
        <%= link_to game.name, game %>
      </div>
      <div class="col">
        <%= game.developer.name %>
      </div>
      <div class="col">
        <%= DateTime.strptime(game.release_date.to_s,'%s').strftime("%d/%m/%y") if game.release_date != nil %>
      </div>
      <div class="col">
        <%= game.rating %> from <%= game.total_rating %> individuals
      </div>
    </div>
    </br>
  <% end %>

  <div class="container pagination justify-content-center">
    <%= paginate @games, theme: 'twitter-bootstrap-4', pagination_class: "pagination-md" %>
  </div>

</div>